// Import Bootstrap and hotel styles
@import "bootstrap";
@import "hotel";

// Define section styles

.heading {
    font-size: 5rem;
}

.left {
    margin-left: 7rem;
}

.base {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.base-img {
    margin-bottom: 2rem;
}

.heading {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 2rem;
}

.headings {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 2rem;
    text-align: center;
    margin-left: 19rem;
}


.body {
    overflow-y: hidden;
}


.scroll {
    overflow-y: scroll;
    height: 800px;
}

.scroll::-webkit-scrollbar {
    width: 10px;
  }

.scroll::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.scroll::-webkit-scrollbar-thumb {
  background: #888;
      border-radius:10px;
}

.scroll::-webkit-scrollbar-thumb:hover {
    background: #555;
  }



  body {
    display: flex;
  }


.sidebar {
    width: 250px;
    height: 100vh;
    position: fixed;
    background-color: #343a40;
    padding-top: 20px;
}
.content {
    margin-left: 250px;
    padding: 20px;
}
.sidebar a {
    color: #ffffff;
    padding: 10px;
    text-decoration: none;
    display: block;
}

.logo {
 font-size: 2rem;
}

.nav-items {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    line-height: 1.5;
    padding: 1rem;
    background-color: #706e6e16;
    transition: all 0.3s;
}

.nav-items:hover {
background-color:#42414116 ;
}

.login {
    text-align: center;
}

.login a{
    border: 1px solid red;
    transition: all .3s;
}

.login a:hover{
    background-color: red;
    color: #fff;
}

.icons {
    font-size: 4rem;
}

.icon {
    font-size: 1.5rem;
}

.icons:hover,
.icon:hover {
    color: rgb(229, 56, 56);
}


// Style Form

.form {
  margin-top: 4rem;
  width : 60rem;
  padding: 2rem;
  border-radius:30px;
  background-color: #f6f4f4;
  border: 1px solid gray;
  margin-left: 20rem;
  box-shadow: 0px 8px 24px -6px rgba(82,76,82,0.67);
}

label {
    color: #000;
}

.field {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

img {
    height: 10rem;
    width: 10rem;

}

.existing-image {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 1px solid gray ;
    padding: 1rem;
}