body{
    background-color: #ffffff;
}

.forms {
    background-color: #f9f9f9;
    width: 70rem;
    position: absolute;
    left:20%;
    padding: 2rem;
    border: 1px solid #cfc7c7;
    border-radius: 9px;
}


.back:hover {
    background-color: #080808;
}


.form-control {
    height: 3rem;
    margin-top: .5rem;
    border: 1px solid #ccc;
}

.col-md-6 {
    margin-bottom: .2rem;
}

.hei {
    height: 2.4rem;
}

.nav-items button {
    width: 10rem;
}


.custom-margin-top {
    margin-top: 20px;
  }