body{
    background-color: #ffffff;
}

.forms {
    background-color: #f9f9f9;
    width: 70rem;
    position: absolute;
    left:20%;
    padding: 2rem;
    border: 1px solid #cfc7c7;
    border-radius: 9px;
}


.back:hover {
    background-color: #080808;
}


.form-control {
    height: 3rem;
    margin-top: .5rem;
    border: 1px solid #ccc;
}

.col-md-6 {
    margin-bottom: .2rem;
}

.hei {
    height: 2.4rem;
}

.nav-items button {
    width: 10rem;
}


.custom-margin-top {
    margin-top: 20px;
  }
// show page
  .card-header {
    background-color: #f5f5f5;
    display: flex;
    gap : 2rem;
    align-items: center;
    padding: 20px;
}
.card-header .base-img {
    max-width: 23rem; /* Set the max-width of the image to 20rem */
    max-height: auto;
}
.card-header h1 {
    margin: 0;
    flex-grow: 1;
    text-align: center;
    padding-left: 20px;
}
.card-body p {
    margin-bottom: 10px;
}
.images-row {
    overflow-x: scroll;
    white-space: nowrap;
}
.images-row img {
    display: inline-block;
    margin-right: 10px;
    max-width: 200px;
    height: auto;
}
.card-title {
  font-size: 2rem;
  margin-bottom: 2rem;
  font-weight: 600;
}

.button-group {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}
.button-group .btn {
    margin: 5px;
    width : 20rem;
}
.container .card:not(:last-child) {
    margin-bottom: 20px;
}