<div class="">
<h1 class="heading">Add A New Hotel</h1>

<%= turbo_frame_tag "hotel" do %>
    <%= render 'form', hotel: @hotel %>
<% end %>

<%= link_to 'Back', hotels_path, class: "btn btn-secondary back" %>

</div> 